.App {
  text-align: center;
  background-image: linear-gradient(to bottom , #14142c, rgb(255, 166, 0));
}
 
/* .App-logo {
  height: 400px;
 
} */
 
.head{
  margin-top: 30%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #61dafb;
}
 
.container-fluid{
  background-color: #14142c;
  margin: 0px;
}
@media only screen and (max-width: 600px) {
  .head {
    font-size: medium;
  }
}
 
.content{
  margin-top: 10px;
}
